$toolbar-height: 64px;
$sidenav-width: 64px;
@media (max-width: 576px) {
    $toolbar-height: 56px;
    $sidenav-width: 0;
}

.main-content {
    height: calc(100vh - #{$toolbar-height});
}

mat-sidenav-content::-webkit-scrollbar { 
    display: none;
}

.mat-drawer {
    @media (max-width: 599px) {
        width: 200px !important;
    }
}

.toolbar-hamburger mat-icon{
    transition: all 300ms ease-in-out;
}
.toolbar-hamburger.toggled mat-icon{
    transform: rotate(270deg);
}

.toolbar-hamburger {
    height: 1em;
    width: 1em;
    display: inline-block;
    padding: 0;
    padding-top: .05em;
    cursor: pointer;
    vertical-align: middle;
    background: transparent;
}

.toolbar-hamburger:before,
.toolbar-hamburger:after {
  content: "";
}

.toolbar-hamburger:before,
.toolbar-hamburger>.icon,
.toolbar-hamburger:after {
  display: block;

  width: 100%;
  height: .15em;
  margin: 0 0 .15em;

  transition: transform .2s ease-in-out;

  border-radius: .1em;
  background: #ffffff;
}

.toolbar-hamburger.toggled>.icon {
    transform: scale(0);
}

.toolbar-hamburger.toggled:before {
    transform: translateY(.3em) rotate(45deg);
}

.toolbar-hamburger.toggled:after {
    transform: translateY(-.3em) rotate(-45deg);
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-username {
    font-size: .8em;
}

.drawer-userinfo {
    height: 100px;
    width: 100%;
    color: #ffffff;
    mat-icon {
        transform: scale(2);
    }
    .username {
        font-size: 1.2em;
    }
}

.sub-nav {
    position: fixed;
    background-color: #ffffff;
    height: 50px;
    width: calc(100vw - 64px);
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    z-index: 999;

    @media (max-width: 600px) {
        width: 100vw;
    }

    .page-name {
        font-weight: 750;
    }

    .sub-nav-btn {
        background-color: #f3f6f9;
        color: #80808f;
        transition: all 150ms linear;
        &:hover {
            background-color: #e5eaee;
            text-decoration: none;
        }
    }
}

.drawer-btn {
    width: 100%;
    height: 50px;
}

.username-wrapper {
    display: inline-flex;
    margin-left: .5em;
    line-height: 1em;
    font-size: .9em;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    background-color: #faa993;
}

.user-info {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-color: #ffffff;
    z-index: 999;

    .header {
        font-size: 1.3em;
        font-weight: bolder;
    }
    .user-pic {
        position: relative;
        height: 110px;
        width: 110px;
        font-size: 110px;

        &:before {
            content:'';
            position: absolute;
            right: 11px;
            top: 11px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: rgb(89, 218, 89);
        }
    }
    .userinfo-block {
        position: relative;
        height: 60px;
        width: 90%;
        border-radius: .5em;
        margin-top: 1.2em;

        mat-icon {
            position: absolute;
            top: calc(50% - 10px);
            left: 20px;
            color: #ffffff;
            transform: scale(1.5);
        }

        div {
            color: #ffffff !important;
            position: absolute;
            height: 60px;
            left: 110px;
        }
    }
}
.overlay-userinfo {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    z-index: 99;
}