<div mat-dialog-title class="dialog-header"
[ngClass]="{
    'color-2': !updateMode,
    'color-3': updateMode
}">
    <div class="header-decor"></div>
    <div class="d-flex justify-content-start align-items-end p-3">
        <span class="category mt-1 mr-2" *ngIf="!updateMode">新規面談</span>
        <span class="category mt-1 mr-2" *ngIf="updateMode">面談編集</span>
    </div>
</div>
<mat-dialog-content>
    <div class="meeting-content p-2">
        <form [formGroup]="formGroup">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>社員名</mat-label>
                    <input matInput formControlName="employeeName" type="text" [matAutocomplete]="auto">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of employeeAutoComplete | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formGroup.controls.employeeName.invalid">{{getErrorMessage('employeeName')}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>カテゴリ</mat-label>
                    <input matInput formControlName="category" type="text">
                    <mat-icon matSuffix>category</mat-icon>
                    <mat-error *ngIf="formGroup.controls.category.invalid">{{getErrorMessage('category')}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>面談日</mat-label>
                    <input matInput formControlName="meetingDate" [matDatepicker]="datePicker">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker [touchUi]="datepickerTouchUi" #datePicker></mat-datepicker>
                    <mat-error *ngIf="formGroup.controls.meetingDate.invalid">{{getErrorMessage('meetingDate')}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>面談内容</mat-label>
                    <textarea matInput formControlName="content" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    [cdkAutosizeMinRows]="textareaMinRow"
                    [cdkAutosizeMaxRows]="textareaMaxRow"></textarea>
                    <mat-hint>文字数: {{formGroup.controls.content.value.length}}/1000</mat-hint>
                    <mat-error *ngIf="formGroup.controls.content.invalid">{{getErrorMessage('content')}}</mat-error>
                </mat-form-field>
            </p>
            <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid" *ngIf="!updateMode">登録</button>
            <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid" *ngIf="updateMode">更新</button>
            <button mat-flat-button color="accent" class="ml-3" (click)="close()" *ngIf="updateMode">戻る</button>
        </form>
    </div>
</mat-dialog-content>