@import '~@angular/material/theming';
@import '../../keyframes.scss';

$toolbar-height: 64px;
@media (max-width: 576px) {
    $toolbar-height: 56px;
}

.container-login {
    width: 100%;
    min-height: calc(100vh - #{$toolbar-height});
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-login {
    @include mat-elevation(1);
    width: 80%;
    height: 400px;
    border-radius: .5em;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;

    @media (max-width: 992px) {
        padding: 0 40px;
    }
    @media (max-width: 767px) {
        height: 70vh;
        width: 100%;
        padding: 30px 40px;
    }
}
.field-container {
    width: 45%;
    
    @media (max-width: 992px) {
        width: 45%;
    }
    @media (max-width: 767px) {
        width: 80%;
    }

    p mat-form-field, button {
        width: 100%;
        @media (min-width: 993px) {
            width: 80%;
        }
    }
}

.login-img {
    max-width: 70%;
    height: auto;
}

.logging-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    filter: brightness(90%);
}

.login-word {
    filter: brightness(100%);
    div {
        display: inline-block;
        margin: 1px;
        transform: translateX(30px) translateY(-30px);
    }
    .delay-0 {
        animation: login-anime-1 1.5s linear infinite;
    }
    .delay-1 {
        animation: login-anime-2 1.5s linear infinite;
    }
    .delay-2 {
        animation: login-anime-3 1.5s linear infinite;
    }
    .delay-3 {
        animation: login-anime-4 1.5s linear infinite;
    }
    .delay-4 {
        animation: login-anime-5 1.5s linear infinite;
    }
    
}