<div class="container-login">
    <div class="form-login">
        <div class="field-container d-none d-md-block d-lg-block">
            <img src="../../assets/image/logo.svg" class="login-img mx-auto d-block">
        </div>
        <div class="field-container d-block">
            <form [formGroup]="formGroup">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>社内メールアドレス</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>パスワード</mat-label>
                        <input matInput formControlName="password" type="password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </p>
                <button mat-flat-button color="primary" (click)="onSubmit()">ログイン</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="loggingIn" class="logging-in d-flex flex-column justify-content-center align-items-center">
    <span class="font-weight-bold mb-2 login-word">
        <div class="delay-0">ロ</div>
        <div class="delay-1">グ</div>
        <div class="delay-2">イ</div>
        <div class="delay-3">ン</div>
        <div class="delay-4">中</div>
    </span>
    <mat-progress-spinner 
        color="primary" 
        mode="indeterminate"
        diameter="20">
    </mat-progress-spinner>
</div>