$color-1: #fbb688;
$color-2: #83c0d7;
$color-3: #62c5d7;
$color-4: #bf9eca;
$color-5: #faa993;

$color-gradient-1: linear-gradient(to right, #f8d276, #fbb688);
$color-gradient-2: linear-gradient(to right, #a0a3d1, #83c0d7);
$color-gradient-3: linear-gradient(to right, #66d1ae, #62c5d7);
$color-gradient-4: linear-gradient(to right, #ab99ce, #bf9eca);
$color-gradient-5: linear-gradient(to right, #f88b8b, #faa993);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.mat-sort-header-button {
    outline: 0 !important;
}

mat-icon {
    vertical-align: middle;
    user-select: none;
}
button:focus {
    outline: 0 !important;
}

// .mat-drawer {
//     background-color: #fafafa !important;    
// }

// .mat-drawer-side {
//     border-right: none !important;
// }

#group {
    height: 100%; // Whole group height.
  
    ::ng-deep .mat-tab-body-wrapper {
      height: 100%; // Tabs body height. I also don't like ng-deep, but there is no other way :(
    }
  
    .tab-content-container {
      height: 100%;  // Content height.
    }
  }



.additional-info {
    color: grey;
    font-size: .8em;

    &>mat-icon {
        font-size: 2em;
    }
}

mat-icon{
    &.icon-2x {
        transform: scale(2.5);
    }

    &.color-1 {
        color: $color-1;
    }
    &.color-2 {
        color: $color-2;
    }
    &.color-3 {
        color: $color-3;
    }
    &.color-4 {
        color: $color-4;
    }
    &.color-5 {
        color: $color-5;
    }
}

.chips-bar {
    height: 3em !important;
}

mat-chip {
    &.color-1 {
        background-image: $color-gradient-1;
    }
    &.color-2 {
        background-image: $color-gradient-2;
    }
    &.color-3 {
        background-image: $color-gradient-3;
    }
    &.color-4 {
        background-image: $color-gradient-4;
    }
    &.color-5 {
        background-image: $color-gradient-5;
    }
}

.disable-select {
    user-select: none;
}

@mixin bottom-fab-calc-pos($order) {
    bottom: calc((56px + 14px) * (#{$order} - 1) + 14px);
}

.bottom-right-fab {
    position: fixed !important;
    right: 1em;
    mat-icon {
        animation: fab-scale 500ms forwards;
    }
    &.bottom-1 {
        @include bottom-fab-calc-pos(1);
    }
    &.bottom-2 {
        @include bottom-fab-calc-pos(2);
    }
    &.bottom-3 {
        @include bottom-fab-calc-pos(3);
    }
}

@keyframes fab-scale {
    from {transform: rotate(45deg) scale(0);}
    to {transform: rotate(0) scale(1)}
}

div {
    &.color-1 {
        background-image: $color-gradient-1;
    }
    &.color-2 {
        background-image: $color-gradient-2;
    }
    &.color-3 {
        background-image: $color-gradient-3;
    }
    &.color-4 {
        background-image: $color-gradient-4;
    }
    &.color-5 {
        background-image: $color-gradient-5;
    }
}

.highlight {
    font-size: .5em;
    line-height: .5em;
}

.no-hover:hover{
    color: unset;
}

.color-grey {
    color: grey;
}

.mat-dialog-container {
    padding-top: 6px !important;
}

.meeting-record-dialog-container, .transfer-dialog-container {
    .mat-dialog-container, .mat-dialog-content {
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
    }
    .mat-dialog-content {
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
    .mat-dialog-content::-webkit-scrollbar {
        display: none;
    }
}
.dialog-header {
    color: #ffffff;
    position: relative;
    .header-decor {
        position: absolute;
        top: .7em;
        width: 30%;
        height: 1px;
        background: #ffffff;
    }
    .category {
        line-height: 1em;
    }
    .date {
        font-size: .8em;
        line-height: .8em;
    }
    .mat-icon {
        transform: scale(.6);
        height: 0;
    }
    .info-wrapper {
        height: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info {
            font-size: .8em;
            line-height: .8em;
            margin-bottom: .5em;
        }
        .additional-info {
            color: inherit;
            font-size: .5em;
            line-height: .5em;
        }
    }
}

.slidein {
    animation: slide-in 750ms linear forwards;
}
@keyframes slide-in {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}