@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import './keyframes';

$color-1: #fbb688;
$color-2: #83c0d7;
$color-3: #62c5d7;
$color-4: #bf9eca;
$color-5: #faa993;

$color-1-accent: #faeee5;
$color-2-accent: #d4f1fc;
$color-3-accent: #e1f6fa;
$color-4-accent: #f6dcff;
$color-5-accent: #f3d5cc;

$color-gradient-1: linear-gradient(to right, #f8d276, #fbb688);
$color-gradient-2: linear-gradient(to right, #a0a3d1, #83c0d7);
$color-gradient-3: linear-gradient(to right, #66d1ae, #62c5d7);
$color-gradient-4: linear-gradient(to right, #ab99ce, #bf9eca);
$color-gradient-5: linear-gradient(to right, #f88b8b, #faa993);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

a {
    color: #3699ff;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        filter: brightness(85%);
    }
}

.mat-sort-header-button {
    outline: 0 !important;
}

mat-icon {
    vertical-align: middle;
    user-select: none;
}
button:focus {
    outline: 0 !important;
}

.mat-drawer-container {
    background-color: #eef0f8 !important;    
}

// .mat-drawer-side {
//     border-right: none !important;
// }

#group {
    height: 100%; // Whole group height.
  
    ::ng-deep .mat-tab-body-wrapper {
      height: 100%; // Tabs body height. I also don't like ng-deep, but there is no other way :(
    }
  
    .tab-content-container {
      height: 100%;  // Content height.
    }
  }



.additional-info {
    color: grey;
    font-size: .8em;

    &>mat-icon {
        font-size: 2em;
    }
}

.big-info {
    font-size: 1.2em;
}

mat-icon{
    &.icon-2x {
        transform: scale(2.5);
    }
    &.icon-4x {
        transform: scale(4);
    }
}
.color-1 {
    color: $color-1;
}
.color-2 {
    color: $color-2;
}
.color-3 {
    color: $color-3;
}
.color-4 {
    color: $color-4;
}
.color-5 {
    color: $color-5;
}
.color-1-accent {
    color: $color-1-accent;
}
.color-2-accent {
    color: $color-2-accent;
}
.color-3-accent {
    color: $color-3-accent;
}
.color-4-accent {
    color: $color-4-accent;
}
.color-5-accent {
    color: $color-5-accent;
}

.chips-bar {
    height: 3em !important;
}

mat-chip {
    &.color-1 {
        background-image: $color-gradient-1;
    }
    &.color-2 {
        background-image: $color-gradient-2;
    }
    &.color-3 {
        background-image: $color-gradient-3;
    }
    &.color-4 {
        background-image: $color-gradient-4;
    }
    &.color-5 {
        background-image: $color-gradient-5;
    }
}

.disable-select {
    user-select: none;
}

@mixin bottom-fab-calc-pos($order) {
    bottom: calc((56px + 14px) * (#{$order} - 1) + 14px);
}

.bottom-right-fab {
    position: fixed !important;
    right: 1em;
    mat-icon {
        animation: fab-scale 500ms forwards;
    }
    &.bottom-1 {
        @include bottom-fab-calc-pos(1);
    }
    &.bottom-2 {
        @include bottom-fab-calc-pos(2);
    }
    &.bottom-3 {
        @include bottom-fab-calc-pos(3);
    }
}



div {
    &.color-1-no-grad {
        background: $color-1;
    }
    &.color-2-no-grad {
        background: $color-2;
    }
    &.color-3-no-grad {
        background: $color-3;
    }
    &.color-4-no-grad {
        background: $color-4;
    }
    &.color-5-no-grad {
        background: $color-5;
    }
    &.color-1 {
        background-image: $color-gradient-1;
    }
    &.color-2 {
        background-image: $color-gradient-2;
    }
    &.color-3 {
        background-image: $color-gradient-3;
    }
    &.color-4 {
        background-image: $color-gradient-4;
    }
    &.color-5 {
        background-image: $color-gradient-5;
    }
}

.highlight {
    font-size: .5em;
    line-height: .5em;
}

.big-mat-icon {
    transform: scale(2);
}

.no-hover:hover{
    color: unset;
}

.color-grey {
    color: grey;
}

.mat-dialog-container {
    padding-top: 6px !important;
}

.meeting-record-dialog-container, .transfer-dialog-container {
    .mat-dialog-container, .mat-dialog-content {
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
    }
    .mat-dialog-content {
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
    .mat-dialog-content::-webkit-scrollbar {
        display: none;
    }
}
.dialog-header {
    color: #ffffff;
    position: relative;
    .header-decor {
        position: absolute;
        top: .7em;
        width: 30%;
        height: 1px;
        background: #ffffff;
    }
    .category {
        line-height: 1em;
    }
    .date {
        font-size: .8em;
        line-height: .8em;
    }
    .mat-icon {
        transform: scale(.6);
        height: 0;
    }
    .info-wrapper {
        height: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .info {
            font-size: .8em;
            line-height: .8em;
            margin-bottom: .5em;
        }
        .additional-info {
            color: inherit;
            font-size: .5em;
            line-height: .5em;
        }
    }
    .more-btn {
        position: absolute;
        right: 0;
        top: 0;
        mat-icon {
            transform: scale(1);
            height: inherit;
        }
    }
}
.dialog-content {
    padding: 0 1em 1em 1em;;
    &.alert {
        padding: 1em;
    }
}

.alert {
    height: 200px;

    .alert-msg {
        font-size: 1.5em;
        font-weight: 400;
    }
}

.with-newlines {
    white-space: pre-wrap;
}

.slidein {
    animation: slide-in 300ms linear forwards;
}
.slideout {
    animation: slide-out 300ms linear forwards;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.ripple:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    border: 2px solid;
    border-radius: 50%;
    border-color: $color-4;
    transform: translateX(-50%) translateY(-50%);
    animation: ripple 1400ms linear infinite
}
.fadein {
    animation: fadein 300ms linear forwards;
}
